/* *{
  background-color: #598392
} */

.App {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #1b263b; */
}


