.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:50px;
    border-radius:50px;
    background-color: rgba(224, 225, 221, 0.5);
    width: 450px;
    height: 527px;
    color: #1b263b;
    /* --color-hello: red;
    color: var(--color-hello) */
}

.playlist-head{
    display: flex;
    justify-content:normal;
    align-items: flex-start
}

 .scroll{
     display:flex;
     flex-direction:column;
     justify-content: normal;
     align-items:flex-start;
     height: 300px;
     width: 100%;
     overflow: scroll;
 }

